<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinanceAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceAPP.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FinanceAPP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Partners" asp-action="Index">Partners</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropMenuFinanceBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                    Finance Item
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropMenuFinanceBtn">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="FinanceItems" asp-action="FinancialItem">Manually</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="FinanceItems" asp-action="Index">Upload</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropMenuReportBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                    Reports
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropMenuReportBtn">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="TotalMembers">Sum Memebr</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="TotalParentMemberTeam">Sum Memebrs & Parent </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="BenfitMembers">Total Benfits of Memebrs </a>
                                    </li>
                                </ul>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container border border-secondary rounded">
        <main role="main" class="p-3">
            <partial name="_Header" />

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FinanceAPP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
