@{
    ViewData["Title"] = "Finance Items";
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3">
                <input type="file" id="file" name="file" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
</div>

